*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
body{
    font-family: 'Raleway', sans-serif;
}
/* header css start */
.header{
    background-color: rgba(0, 0, 0, 0.26);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
.header-left{
    width: 30%;
}
.logo img{
    width: 100px;
}
.header-right{
    width: 70%;
}
.header-right ul{
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    position: relative;
}
.header-right ul li a {
    color: #fff;
    display: inline-block;
    line-height: 66px;
    padding: 0 18px;
    font-size: 18px;
    position: relative;
    transition: .5s;
}
.header-right ul li:hover > a{
    color: rgb(218, 145, 50);
}
.header-right ul li a::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: rgb(218, 145, 50);
    transition: .5s;
}
.header-right ul li a::after{
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: rgb(218, 145, 50);
    transition: .5s;
}
.header-right ul li a:hover::before,.header-right ul li a:hover::after{
    width: 40%;
    transition: .5s;
}
/* dropdown start */
.header-right ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.418);
    opacity: 0;
    visibility: hidden;
    transform-origin: center;
    transition: .5s;
    text-align: center;
    transform: scaleY(0);
    
}
.header-right ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.header-right ul li ul li{
    display: block;
}
.header-right ul li ul li a{
    display: block;
    line-height: 55px;
    border-bottom: 1px solid #ddd;
}
.header-right ul li ul li a:hover{
    color: #ec5914;
    background-color: rgb(209, 193, 193);
}
.header-right ul li ul li a:hover::before,.header-right ul li ul li a:hover::after{
    width: 0;
}
/* banner css start */
.banner{
    background: url(../img/photo-1517245386807-bb43f82c33c4.jpg) no-repeat center center;
    background-size: cover;
    padding: 220px;
    position: relative;
    z-index: 1;
}
.banner::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.472);
    z-index: -1;
}
.inner{
    color: #fff;
    text-align: center;
}
.inner h1 {
    font-size: 47px;
}
.inner p {
    font-size: 20px;
    margin-top: 20px;
    word-spacing: 12px;
}
.btn1 {
    color: #fff;
    display: inline-block;
    background-color: rgb(172, 187, 108);
    padding: 14px 37px;
    border-radius: 3px;
    font-size: 17px;
    margin-top: 32px;
    margin-right: 22px;
    transition: .5s;
}
.btn1:hover{
    color: rgb(172, 187, 108);
    background-color: #fff;
    transition: .5s;
}
.btn2{
    color: #fff;
    display: inline-block;
    background-color: rgb(160, 91, 148);
    padding: 14px 37px;
    border-radius: 3px;
    font-size: 17px;
    margin-top: 32px;
    margin-right: 22px;
    transition: .5s;
}
.btn2:hover{
    color: rgb(160, 91, 148);
    background-color: #fff;
    transition: .5s;
}
/* about css start */
.about{
    padding: 50px 0;
}
.about h1{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 25px;
}
.about p{
    font-size: 17px;
    line-height: 25px;
}
/* services css start */
.service{
    background-color: rgb(199, 191, 191);
    padding: 80px 0;
}
.service h1 {
    color: #fff;
    font-size: 54px;
    font-weight: 600;
}
.s-box {
    width: 27%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 31px;
    margin-top: 78px;
    border-radius: 5px;
    transition: .4s;
}
.s-box:hover{
    background-color: rgba(0, 0, 0, 0.308);
    color: #fff;
    transform: scale(1.1);
    transition: .4s;
}
.mr{
    margin-right: 9.5%;
}
.s-box span {
    font-size: 60px;
    color: #e4e;
}
.s-box h3 {
    font-size: 26px;
    margin: 22px;
}
.s-box p {
    font-size: 25px;
    margin-bottom: 17px;
}
/* contact css start */
.contact{
    padding: 60px 0;
}
.contact h1{
    margin-bottom: 45px;
}
.contact h4 {
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-left{
    width: 48%;
    margin-right: 2%;
}
.contact-left h4{}
.contact-left form .full-width {
    outline: none;
    border: 1px solid rgb(189, 129, 111);
    width: 100%;
    padding: 20px 0 20px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 17px;
    box-sizing: border-box;
}
.contact-left form .full-width:focus{
    border: 1px solid #ddd;
}
.contact-left form textarea {
    border: 1px solid rgb(189, 129, 111);
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 0 0 15px;
    font-size: 18px;
    outline: none;
}
.contact-left form textarea:focus{
    border: 1px solid #ddd;
}
.btn7 {
    border: 1px solid #e4e;
    padding: 12px 30px;
    background: #e4e;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    border-radius: 4px;
    transition: .4s;
}
.btn7:hover{
    background-color: rgb(255, 172, 78);
    border: 1px solid rgb(255, 172, 78);
    transition: .4s;
}
.contact-right{
    width: 50%;
}
.contact-right h3 {
    margin: 0 0 20px 0;
    font-size: 25px;
}
.contact-right p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 26px;
}
/* footer css start */
.footer{
    padding: 20px 0;
    background-color: #767676;
}
.footer-left{
    width: 50%;
}
.footer-left p {
    color: #fff;
    line-height: 44px;
}
.footer-right{
    width: 50%;
}
.footer-right ul{
    float: right;
    text-align: center;
}
.footer-right ul li{
    display: inline-block;
}
.footer-right ul li a {
    color: #fff;
    display: inline-block;
    background-color: rgb(180, 29, 226);
    height: 45px;
    width: 45px;
    line-height: 45px;
    border-radius: 50%;
    margin-right: 11px;
    transition: .4s;
}
.footer-right ul li a:hover{
    background-color: rgb(113, 15, 170);
    transition: .4s;
}
